/* =========================
   DESKTOP
========================= */

@media (min-width: 1440px){

    .container{

        max-width:1400px;

    }

}

/* =========================
   LAPTOP
========================= */

@media (max-width:1200px){

    .hero h1{

        font-size:clamp(3.5rem,8vw,6rem);

    }

}

/* =========================
   TABLET
========================= */

@media (max-width:992px){

    .nav-links{

        gap:1.25rem;

    }

    .hero h1{

        font-size:4.5rem;

    }

}

/* =========================
   MOBILE
========================= */

@media (max-width:768px){

    .hero{

        min-height:90vh;

    }

    .hero h1 {

    margin-bottom: 1.5rem;

    }

    .hero-mission {

    max-width: 42rem;
    margin-bottom: clamp(1.75rem, 2vw, 2.5rem);

    }

}